<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GDocBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GDocBackup.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupDir" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DocumentExportFormat" serializeAs="String">
        <value>doc</value>
      </setting>
      <setting name="SpreadsheetExportFormat" serializeAs="String">
        <value>xls</value>
      </setting>
      <setting name="PresentationExportFormat" serializeAs="String">
        <value>ppt</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyExplicit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyAuthMode" serializeAs="String">
        <value>NotAuthenticated</value>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyDirectConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyHostPortSource" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="DisableUpdateCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="MultiExportEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BypassCertificateChecks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForBeta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DateDelta" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DrawingExportFormat" serializeAs="String">
        <value>pdf</value>
      </setting>
    </GDocBackup.Properties.Settings>
  </userSettings>
</configuration>